.site-header {
  background: var(--gradient-1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  &__menu {
    align-items: center;
    display: flex;
    gap: 2rem;
    list-style: none;
    color: var(--light-gray-color);

    &-item {
      display: flex;
      gap: 0.5rem;
    }
  }
}
