:root {
  --primary-color: #121e6c;
  --secondary-color: #ee424e;
  --dark-gray-color: #606060;
  --light-gray-color: #f3f3f3;
  --background-color: #f6f4f9;
  --white-color: #ffffff;
  --black-color: #000000;

  --gradient-1: linear-gradient(
    90deg,
    rgba(18, 30, 108, 1) 47%,
    rgba(238, 66, 78, 0.4864320728291317) 100%
  );
  --gradient-2: linear-gradient(
    89deg,
    rgba(18, 30, 108, 0.7973564425770308) 0%,
    rgba(238, 66, 78, 0.738532913165266) 100%
  );
}

$primary-color: #121e6c;
$secondary-color: #ee424e;
$dark-gray-color: #606060;
$light-gray-color: #f3f3f3;
$background-color: #f6f4f9;
$white-color: #ffffff;
$black-color: #000000;
$gradient-1: linear-gradient(
  90deg,
  rgba(18, 30, 108, 1) 47%,
  rgba(238, 66, 78, 0.4864320728291317) 100%
);
$gradient-2: linear-gradient(
  89deg,
  rgba(18, 30, 108, 0.7973564425770308) 0%,
  rgba(238, 66, 78, 0.738532913165266) 100%
);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
}

button {
  background-color: rgba($secondary-color, 0.7);
  border: none;
  color: var(--white-color);
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 8px rgba($secondary-color, 0.4);
  }
  &:active {
    background-color: rgba($secondary-color, 0.9);
  }
}

input[type="checkbox"] {
  width: 1rem;

  &:checked {
    accent-color: var(--secondary-color);
  }
}
