.card {
  background-color: var(--white-color);
  border-radius: 1rem;
  overflow: hidden;
  flex: 1 0 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  height: fit-content;

  &__header {
    background: var(--gradient-2);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &-price {
      background: var(--gradient-2);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 2rem;
      font-weight: bold;
    }

    &-date {
      color: var(--dark-gray-color);
      margin-top: 0.4rem;
    }
  }
}
